.container
  .row
    .col.l6.s12
      %h5.white-text= "#{data.main.name} - психотерапевт"
    .col.l3.s12
      %h5.white-text Контакты
      %ul
        %li.white-text= "Адрес: #{data.main.location}"
        %li.white-text= "телефон: #{data.main.tel}"
        %li.white-text= "email: #{data.main.email}"
        %li.white-text= "skype: #{data.main.skype}"

    .col.l3.s12
      %h5.white-text Карта сайта
      %ul
        - data.main.pages.each do |page|
          %li= link_to page.title, page.src, class: 'white-text'

.footer-copyright
  .container
    %span © 2017
    %a.white-text{:href => "https://www.facebook.com/alexander.shvaykin"} Cайт разработал Александр Швайкин
