%ul#nav-mobile.side-nav
  %li
    .userView
      .background
        = image_tag 'office.jpg'
      = link_to '/about.html' do
        = image_tag 'me_min.jpg', class: 'circle'
      = link_to '/about.html' do
        %span.white-text.name= data.main.name
      %a{:href => "mailto: #{data.main.email}"}
        %span.white-text.email= data.main.email
  = partial 'layouts/shared_links'

  -# TODO: add skype and phone
  -# TODO: add record button
