%ul#nav-mobile.side-nav
  %li
    .userView
      .background
        = image_tag 'office.jpg'
      = link_to '/about.html' do
        = image_tag 'me_min.jpg', class: 'circle'
      = link_to '/about.html' do
        %span.white-text.name= data.main.name
      %a{:href => "mailto: #{data.main.email}"}
        %span.white-text.email= data.main.email
  = partial 'layouts/shared_links'
  %li
    .divider
  %li
    %a.subheader Формы работы
    - data.work.forms.each do |f|
      %li= link_to f.link, f.src, class: 'waves-effect'
