<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Профессиональная помощь психотерапевта в Санкт-Петербурге, очный и онлайн прием" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <header>
      <%= partial "layouts/fix_nav" %>
      <%= partial "layouts/nav" %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class='page-footer orange'>
      <%= partial "layouts/footer" %>
    </footer>
    <%= google_analytics_tag %>
  </body>
</html>
<!--TODO: add gem "middleman-favicon-maker", "~> 4.0"  -->
