---
title: ПСИХОТЕРАПИЯ ДУШОЙ И МУЗЫКОЙ. Контакты
---
.container
  %br
  %br
  .row
    .col.l3.s12
      = image_tag 'me_300.jpg', class: 'responsive-img circle left sh_me_img sh_img_center'
    .col.l9.light.s12
      %h5 Контакты
      %table
        %tbody
          %tr
            %td.sh_icon_cell
              %i.fa.fa-map-marker
            %td= data.main.location
          %tr
            %td.sh_icon_cell
              %i.fa.fa-phone-square
            %td= data.main.tel
          %tr
            %td.sh_icon_cell
              %i.fa.fa-envelope
            %td= data.main.email
          %tr
            %td.sh_icon_cell
              %i.fa.fa-skype
            %td= data.main.skype
