---
description: Профессиональная помощь психотерапевта в Санкт-Петербурге. Очная и онлайн терапия.
keywords: психотерапевт, спб, онлайн
---
.container
  %h4.header.center.orange-text= "#{data.main.main_title} &#9836 &#9834"

.parallax-container.hide-on-small-only
  .parallax
    %img.sh_load_img{:src => "", 'data-src' => 'images/room.jpg'}/
#index-banner
  .container
    %br/
    %br/
    %h4.header.center.orange-text= data.main.header
    - data.main.main_blocks.each_slice(3) do |blocks_collection|
      .row
        - blocks_collection.each do |block|
          .col.s12.m4
            .icon-block
              %h2.center.light-blue-text
                %i.material-icons{style: 'font-size: 35px'}= block.icon
              %h5.center.sh_heigth_balance= block.title
              .light.sh_default_li
                = partial "text/#{block.file}"
                - if block.page
                  = link_to 'далее', "/#{block.page}.html"
    %br
    .row
      .col.hide-on-small-only.m5
        = image_tag 'me_form.jpg', class: 'responsive-img'
      .col.m7.s12
        %h5#appointment Контакты
        %ul
          %li= "Адрес: #{data.main.location}"
          %li= "телефон: #{data.main.tel}"
          %li= "email: #{data.main.email}"
          %li= "skype: #{data.main.skype}"
    %br


= javascript_include_tag 'index'
