---
title: Очный и онлайн прием психотерапевта, групповые приемы психотерапевта в Санкт-Петербурге
---

.container
  .row
    .light.col.s12.m9.l10.sh_default_li
      %br
      - data.practice.types_practice.each do |type_practice|
        %div{id: "#{type_practice.id}", class: 'section scrollspy'}
          %h4.center.orange-text
            = type_practice.title
          = partial(type_practice.text_file)
          - if type_practice.price_title
            %p.valign-wrapper
              %i.material-icons.sh_price.small info_outline
              %strong
                = "#{type_practice.price_title} #{data.price.send(type_practice.price_key.to_sym)}"
      %h5.center Будем всем рады!

    .col.hide-on-small-only.m3.l2
      .toc-wrapper.pinned
        %div{:style => "height: 1px;"}
          %ul.section.table-of-contents
            - data.practice.types_practice.each do |type_practice|
              %li
                %a.truncate{:href => "##{type_practice.id}"}= type_practice.title.downcase
