---
title: Очный и онлайн прием психотерапевта, групповые приемы психотерапевта в Санкт-Петербурге
---

.container
  .sh_default_li
    %br
    .light
      - data.practice.types_practice.each do |type_practice|
        %h4.center.orange-text= type_practice.title
        .card-panel
          = image_tag "#{type_practice.img}", class: "z-depth-1 hide-on-med-and-down #{type_practice.img_position} sh_practice_img"
          = partial(type_practice.text_file)
          %p
            %i.material-icons attach_money
            %strong
              = "#{type_practice.price_title} #{data.price.send(type_practice.price_key.to_sym)}"
        %br
