---
title: Очный и онлайн прием психотерапевта, групповые приемы психотерапевта в Санкт-Петербурге
---

.container
  .sh_default_li
    %br
    .light
      %h4.center.orange-text Формы работы
      .card-panel
        = image_tag 'onlinevsoffline.jpg', width: '35%', class: 'hide-on-med-and-down right'
        = partial 'text/practice/forms_of_work'
        %h6
          %strong ОПЛАТА
        %p
          %strong= data.price.personal
      %br
      %h4.center.orange-text ПРАКТИКА
      .card-panel
        = image_tag 'big_team.png', width: '35%', class: 'hide-on-med-and-down right'
        = partial 'text/practice/practice'
        %h6
          %strong ОПЛАТА
        %p
          %strong= data.price.personal
