---
title: Очный и онлайн прием психотерапевта, групповые приемы психотерапевта в Санкт-Петербурге
---

.container
  .sh_default_li.row
    .light.col.s12.m9.l10
      - data.practice.types_practice.each do |type_practice|
        %div{id: "#{type_practice.id}", class: 'section scrollspy'}
          %h4.center.orange-text
            = type_practice.title
          = partial(type_practice.text_file)
          %p.valign-wrapper
            %i.material-icons attach_money
            %strong
              = "#{type_practice.price_title} #{data.price.send(type_practice.price_key.to_sym)}"
          %br
    .col.hide-on-small-only.m3.l2
      .toc-wrapper.pinned
        %div{:style => "height: 1px;"}
          %ul.section.table-of-contents
            - data.practice.types_practice.each do |type_practice|
              %li
                %a{:href => "##{type_practice.id}"}= type_practice.title.downcase
